<connectionStrings>
  <!--add name="VizAppDBServer"
       connectionString="Data Source=64.27.53.82,1533;Initial Catalog=AppServiceDB;User Id=AppDBUser;Password=6caa58d0"
       providerName="System.Data.SqlClient" /-->
  <add name="VizAppDBServer"
       connectionString="Data Source=212.48.69.230,1433;Initial Catalog=appDB;User Id=appdbuser;Password=password"
       providerName="System.Data.SqlClient" />
</connectionStrings>