<policyInjection>
  <policies>
    <add name="Transaction">
      <matchingRules>
        <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.NamespaceMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Type Matching Rule">
          <matches>
            <add match="Com.VizApp.VizApp.Service.Impl" ignoreCase="true" />
          </matches>
        </add>
      </matchingRules>
      <handlers>
        <add order="1" type="Com.VizApp.Arch.Logging.TraceHandler, Com.VizApp.Arch, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
name="TraceHandler" />

        <add order="2" type="Com.VizApp.Arch.Transaction.TransactionHandler, Com.VizApp.Arch, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
          name="TransactionHandler" />

      </handlers>
    </add>
  </policies>
</policyInjection>