<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <containers>
    <container>
      <types>
        <type type="Com.VizApp.VizApp.Service.Api.IVizFBService, Com.VizApp.VizApp.Service" mapTo="Com.VizApp.VizApp.Service.Impl.VizFBService, Com.VizApp.VizApp.Service"/>
        <type type="Com.VizApp.VizApp.Service.Api.IVizSecurityService, Com.VizApp.VizApp.Service" mapTo="Com.VizApp.VizApp.Service.Impl.VizSecurityService, Com.VizApp.VizApp.Service"/>
        <type type="Com.VizApp.VizApp.Service.Api.IVizService, Com.VizApp.VizApp.Service" mapTo="Com.VizApp.VizApp.Service.Impl.VizService, Com.VizApp.VizApp.Service"/>
        <type type="Com.VizApp.VizApp.Service.Api.IVizFriendsService, Com.VizApp.VizApp.Service" mapTo="Com.VizApp.VizApp.Service.Impl.VizFriendsService, Com.VizApp.VizApp.Service"/>
      </types>
    </container>
  </containers>
</unity>